* {
    margin: 0px;
    padding: 0px;
}

.breadcrumb-title {
    font-size: 30px;
    color: azure;
    justify-content: center;
    text-align: center;
    background-color: rgb(1, 25, 83);
    padding: 10px;
}

.container {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.pane {
    width: 600px;
}

.text-title {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
}

.output-text {
    margin-top: 20px;
    padding: 10px;
    font-size: 17px;
    text-align: justify;
    overflow-x: hidden;
    line-height: 25px;
}

.go-back {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.backButton {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 25px;
    width: 100px;
    border-radius: 20px;
    background-color: black
}