* {
    margin: 0;
    padding: 0;
}

.breadcrumb-title {
    font-size: 30px;
    color: azure;
    justify-content: center;
    text-align: center;
    background-color: rgb(1, 25, 83);
    padding: 10px;
}

.container {
    padding: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.button-space {
    display: flex;
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.transButton {
    height: 35px;
    width: 105px;
    font-size: 20px;
    background-color: blue;
    color: aliceblue;
    border-radius: 20px;
    border-style: none;
}

.language {
    margin-top: 5px;
    color: azure;
    justify-content: center;
    text-align: center;
    background-color: rgb(33, 31, 14);
    padding: 10px;
    font-weight: bolder;
    border-radius: 15px;
}

.select-language {
    font-size: 20px;
}

.ipBox {
    margin-top: 20px;
    width: 405px;
    height: 275px;
    font-size: 25px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: auto;
}

.output {
    margin-top: 20px;
    width: 405px;
    height: 275px;
    font-size: 25px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: auto;
}

.voice-functionalities {
    margin-left: 27px;
    margin-right: 27px;
    display: flex;
    justify-content: space-between;
    /* border: 5px solid blue; */
}

.voice-functionalities-buttons {
    border: none;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
    height: 40px;
    width: 425px;
    font-size: 25px;
    cursor: pointer;
}

.voice-functionalities-buttons:hover {
    background-color: rgb(1, 25, 83);
}

textarea {
    resize: none;
}

.file-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.file_upload {
    font-size: 18px;
    padding: 10px;
}

.fileSub {
    border: none;
    margin-top: 25px;
    font-size: 18px;
    padding: 15px;
    width: 300px;
    display: block;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 25px;
}