<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator and OCR Reader</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="breadcrumb-title">
        <h1>Translator</h1>
    </div>

    <div class="container">
        <div class="left-side">
            <div class="language" onchange="changeLanguage()">
                <select class="select-language" id="chooseLanguage">
                    <option value="en">English</option>
                    <option value="gu">Gujarati</option>
                </select>
            </div>
            <center>
                <form name="inputText" action="" method="post">
                    <textarea type="text" class="ipBox" name="textInput" id="inputBoxForText"
                        placeholder="Write here...">{{otext}}</textarea>
            </center>
        </div>
        <div class="button-space">
            <center>
                <input type="submit" class="transButton" value="Translate">
            </center>
            </form>
        </div>
        <div class="right-side">
            <div class="language">
                <div class="select-language" id="targetLanguage">
                    Gujarati
                </div>
            </div>
            <div class="output">
                {{transText}}
            </div>
        </div>
    </div>
    <div class="voice-functionalities">
        <button class="voice-functionalities-buttons" onclick="speak()" id="speech_to_text_button">Click to
            speak</button>
        <form action="/soundplay" name="opform" method="post">
            <input type="submit" value="Click to speak" name="playBtn" class="voice-functionalities-buttons"
                id="text_to_voice_button">
        </form>
    </div>

    <center>
        <div class="file-form">
            <form action="/ocrreader" method="post" enctype="multipart/form-data">
                <input type="file" class="file_upload" name="inputFile">
                <input type="submit" class="fileSub" name="fileSub">
            </form>
        </div>
    </center>


</body>
<script>
    function changeLanguage() {
        let currentLanguage = document.getElementById('chooseLanguage');
        let val = currentLanguage.value;
        let target = document.getElementById("targetLanguage");
        if (val == 'en') {
            target.innerHTML = 'Gujarati';
        }
        else {
            target.innerHTML = 'English';
        }
    }

    function speak() {
        let speechReck = new webkitSpeechRecognition();
        // speechReck.lang = "gu";
        speechReck.lang = "en-GB";
        speechReck.onresult = function (event) {
            document.getElementById("inputBoxForText").value = event.results[0][0].transcript;
        }
        speechReck.start();
    }
</script>

</html>