<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR | Output</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>

<body>
    <div class="breadcrumb-title">
        <h1>OCR - Output</h1>
    </div>
    <div class="container">
        <div class="pane">
            <div class="text-title" id="original-text-title">Original Text</div>
            <div class="output-text">{{originalText}}</div>
        </div>
        <div class="pane">
            <div class="text-title" id="trans-text-title">Translated Text</div>
            <div class="output-text">{{translatedText}}</div>
        </div>
    </div>
    <div class="go-back">
        <a href="index.html" class="backButton">Go Back</a>
    </div>
</body>

</html>